
body {
    margin: 0;
    padding: 0;
}

div, body, nav, ul, footer {
    box-sizing: border-box;
}

nav {
    Position: fixed; 
    Top: 0;
    Left: 0%; 
    Z-index: 100;
    background:linear-gradient(to right,#eaeaea, #4b739b);
}


a.nav_link{
    text-decoration: none;
    color: white;
}

.barra {
    width: 100%;
    background-color: rgb(163, 192, 235);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 25%;
    height: 40%;
    margin-right: 5px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav_list  {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 20px;
    text-decoration: none;
}

.submenu {
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 3px;
    z-index: 2;
}

a.desple {
    text-decoration: none;
    color: white;
}

a.desple:hover{
    background-color: #666;
    padding: 5px;
    border-radius: 5px;
}
  
.nav_item:hover .submenu {
    background-color: #727272;
    display: block;
    list-style-type: none;
}

.nav_item {
    margin-right: 25px;
}

img {
    width:20% ;
    height:40px ;
}

<!--letra-->

.nav_link {
    color: #f10505;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(216, 36, 42);
}

.nav_link:hover {
    background-color: #666;
    padding: 10px;
    border-radius: 5px;
}

.link_button{
    border: 1px solid #fff;
    background-color: #fff;
    padding: 4px 18px;
    color: #48e;
    border-radius: 3px;
    margin-left: 20px;
}

a.link_button {
    text-decoration: none;
}

.link_button:hover {
    background: transparent;
    color: #fff;
}
.link_button2{
    border: 1px solid #fff;
    background-color: #fff;
    padding: 5px 40px;
    color: #48e;
    border-radius: 10px;
    margin-left: 20px;
}

a.link_button2 {
    text-decoration: none;
}

.link_button2:hover {
    background: transparent;
    color: #fff;
}

.nav_list ul {
    text-decoration: none;
}
 /*botones*/

.botones{
    text-align: center;
    font-family: sans-serif;
}

.btns_1{
    width: 6cm;
    height: 1cm;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(103, 103, 255);
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 0;
}

.btns_2{
    width: 6cm;
    height: 1cm;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(242, 249, 249);
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 0;
}

.button_nav{
    display: inline-block;
}

/*contenedor*/

.file {
    width: 30%;
    height: 40%;
   margin: 5%;
}

.container1 {
    max-width: 100%;
    background:linear-gradient(to right,#eaeaea, #4b739b);  
}

.container1 {
    display: flex;
    font-size: 18px; 
}

.h1{
    padding: 50px;
}

.p{
    padding: 10px;
    margin-right: 20px;
}

.listas{
    display: flex;
    justify-content: space;
}

.listas_medi {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight:bolder
}

li::marker{
    content: none;
}

.list1.list2{
    width: 100%;  
}

.sty.sty_2 {
    padding: 0;
    margin: 0;
}

.sty_2 {
    margin-left: 70px;
}

.li{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.botones{
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    margin-bottom: 40px;
}

.btn_3  {
    width: 6cm;
    height: 1cm;
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(129, 129, 230);
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 0;
    color: white;
}

.btn_4 {
    width: 6cm;
    height: 1cm;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(14, 11, 220);
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 0;
}


/*servicios especializados*/

.server{
    text-align: center;
    padding: 30px;
}

.contenedor_3 {
	display: flex;
    flex-wrap: wrap;
	flex-direction:row;
	justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    margin: 0;
}

.columna_3 {
	width: 30%;
	margin: 10px;
	padding: 20px;
	background-color: #b5b5b5;
    border: 5px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.columna_3:hover {
    background-color: #b5b5b5 ;
    padding: 10px;
    border-radius: 5px;
    
    transform: scale(1.05);
}

i.material-icons {
    font-size:60px
}

.server {
    background:linear-gradient(to right,#eaeaea, #4b739b); ;
}

/*nuestro trabajo*/
.contenedor_2 {
	display: flex;
    flex-wrap: wrap;
	flex-direction:row;
	justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}

.columna {
	width: 15%;
	margin: 10px;
	padding: 20px;
	background-color: #b5b5b5;	
}
.columna:hover {
    background-color: #b5b5b5 ;
    padding: 10px;
    border-radius: 5px;
    transform: scale(1.05);
}

.nuestro {
    text-align: center;
}


/*logo de whasshapp*/

.whatsapp-button {
    width: 60px;
    height: 60px;
    border: none; /* Quita el borde del enlace */
    border-radius: 50%; /* Da forma circular al botón */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es un botón */
}

.whatsapp-button {
    position: fixed;
    right: 20px; /* Posiciona el botón a 20px de la izquierda */
    top: 90%; /* Posiciona el botón en el medio vertical de la página */
    transform: translateY(-50%); /* Ajusta la posición vertical para que esté centrado */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es un botón */
  }

/*footer*/

.logo_2{
    display: block;
    margin: 10px auto;
    width: 150px;
}

footer {
   text-align: center;
   background:linear-gradient(to right,#eaeaea, #4b739b);
   padding: 10px;
}

.lis_stile{
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}

a.lis_foo{
    text-decoration: none;
    color: black;
}

.lista_footer{
    margin-right: 20px;
    font-size: 18px;
}

.lista_footer:last-child {
    margin-right: 0;
}
/*error 404*/

.error404 {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container7 {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-code {
    font-size: 100px;
    margin: 0;
    color: #e74c3c;
}

.error-message {
    font-size: 24px;
    color: #333;
}

.home-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    color: #edf2f6;
    text-decoration: none;
}

.home-link:hover {
    text-decoration: underline;
}

/*error 500*/

/* Estilos básicos para la página de error 500 */

.error500 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-code {
    font-size: 100px;
    margin: 0;
    color: #e74c3c;
}

.error-message {
    font-size: 24px;
    margin: 10px 0;
}

.error-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.home-link {
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
}

.home-link:hover {
    text-decoration: underline;
}


/*contactos*/

/* styles.css */

/* Estilos generales para el body y html */
body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Contenedor del formulario con fondo */
.login-container {
    background: url('../img/carrusel05.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Formulario con fondo blanco semitransparente */
.login-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

/* Estilos de los inputs dentro del formulario */
.login-form input, .login-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo de los campos de entrada al enfocarse */
.login-form input:focus, .login-form textarea:focus {
    transform: scale(1.1);
    border-color: #007bff;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}

/* Estilos del botón */
.login-form button {
    width: 100%;
    border: none;
    background: #3498db;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Estilo del botón al pasar el mouse por encima */
.login-form button:hover {
    background: #2980b9;
}

/* Enlace para volver al inicio */
a.for {
    text-decoration: none;
    color: rgb(21, 21, 21);
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
}

a.for:hover {
    color: #3498db;
}

/* Estilos del título del formulario */
h1 {
    text-align: center;
    margin: 0 0 10px;
    font-size: 25px;
    text-transform: capitalize;
}

/* Estilo de los campos de entrada dentro del formulario */
.form-user {
    width: 100%;
    box-sizing: border-box;
}
