/*formulario*/
body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.login-container {
    background-image: url('../img/carrusel05.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura del viewport */
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para la transformación y sombra */
}

.volver {
    display: flex;
    font-size: 20px;
}

.volver:hover {
    color:rgb(60, 81, 234);
}

input[type="text"]:focus {
    transform: scale(1.1); /* Agranda el input */
    border-color: #007bff;
    outline: none; /* Elimina el borde por defecto del navegador */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4); /* Agrega una sombra para destacar el input */
}

input[type="password"]:focus {
    transform: scale(1.1); /* Agranda el input */
    border-color: #007bff;
    outline: none; /* Elimina el borde por defecto del navegador */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4); /* Agrega una sombra para destacar el input */
}


.login-form button {
    width: 100%;
    border: none;
    background-color: #3498db;
    color: white; /* Texto blanco */
    cursor: pointer;
    padding: 15px 32px; /* Tamaño del botón */
    text-align: center; /* Alinear el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Ajustar tamaño */
    font-size: 18px; /* Tamaño de fuente */
    margin: 4px 2px; /* Espaciado */
    border-radius: 4px; /* Esquinas redondeadas */
}

.login-form button:hover {
    background-color: #2980b9;
}

a{
    text-decoration: none;
    color: rgb(21, 21, 21);
}

h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 25px;
    padding: 10px;
}
    
.form-user {
    width: 100%; /* Hace que el campo de entrada ocupe el 100% del ancho del contenedor padre */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total del elemento */
}

textarea, select {
    width: 50%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #232121;
    border-radius: 4px;
    color: #0a0a0a;
    display: flex;
    align-items: center;
} 
  
legend{
    padding: 0 6px;
  
}

.link_button_1{
    border: 1px solid #fff;
    background-color: #fff;
    padding: 4px 18px;
    color: rgb(30, 30, 30);
    border-radius: 3px;
    margin-left: 20px;
}

a.link_button_1 {
    text-decoration: none;
}

.link_button_1:hover {
    background: transparent;
    color: #0d0d0d;
}
/* Estilo general para el contenedor de navegación */
.nav_container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f0f0f0; /* Fondo de la página */
}
/* Estilo para la lista de navegación */
.nav_list {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

/* Estilo para los ítems de la lista */
li.nav_item {
    margin-left: 65%;
    margin-bottom: 5px;
    padding: 0;
}

/* Estilo para el botón de navegación */
.nav_btn {
    display: inline-block;
    padding: 10px 30px; /* Espaciado dentro del botón */
    font-size: 16px; /* Tamaño del texto */
    color: #fff; /* Color del texto */
    background-color: #4c9df3; /* Color de fondo del botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Elimina el subrayado */
    transition: background-color 0.3s, transform 0.3s; /* Efecto de transición para cambios */
    margin-bottom: 60px;
}

.nav_btn:hover {
    background-color: #0056b3; /* Color de fondo en hover */
    transform: scale(1.05); /* Efecto de aumento en hover */
}

.nav_btn:active {
    transform: scale(0.95); /* Efecto de reducción al hacer clic */
}

.text-danger {
    color: red; /* Color del texto */
        background-color: #ffc5ca; /* Color de fondo */
        border: 1px solid #f5c6cb; /* Borde del cuadro */
        padding: 10px;
        margin: 20px 0;
        border-radius: 5px;
        text-align: center;
        font-weight: bold; /* Texto en negrita */
}

/*form.crea_cuenta*/

.bg {
    background-size: 100% 300px;
    background-position: 0% 100%;
}
 
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.card-body {
    padding: 25px;
}

.crea {
    text-align: center;
}
  
.btn-Registra {
    width: 6cm;
    height: 0.5;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(71, 85, 195);
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 0;
    text-decoration: none;
    color: white;
}
  
.btn-user {
    width: 6cm;
    height: 0.5cm;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 0, 4);
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 0;
    text-decoration: none;
    color: white;
}

.btn-face {
    width: 6cm;
    height: 0.5cm;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(30, 30, 107);
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 0;
    text-decoration: none;
    color: white;
}
  
.mb-3 {
    margin-bottom: 5px;
    padding: 5px;
    align-items: center;
    margin-left: 10px;
}
  
hr {
    border-top: 2px solid #4d4d4d;
    margin: 20px 0;
}
  
small {
    font-size: 12px;
}
  
.text-center {
    text-align: center;
}
 
.nom {
    max-width: 600px;
    display: flex;
    margin: 0 auto;
}

.nom input {
    margin-right: 20px;
}

.form-control-user {
    width: 100%; /* Hace que el campo de entrada ocupe el 100% del ancho del contenedor padre */
    padding: 10px; /* Añade espacio interno dentro del campo de entrada */
    border: 1px solid #121111; /* Define el borde del campo de entrada */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total del elemento */
    border-radius: 40px;
}

.form-control-user_1 {
    width: 100%; /* Hace que el campo de entrada ocupe el 100% del ancho del contenedor padre */
    padding: 10px; /* Añade espacio interno dentro del campo de entrada */
    border: 1px solid #050505; /* Define el borde del campo de entrada */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total del elemento */
    border-radius: 40px;
} 

.button-container {
    max-width: 500px; /* Ajusta el ancho máximo del contenedor según sea necesario */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Añade padding alrededor del contenedor */
}

.button-container a {
    display: block; /* Hace que cada enlace ocupe una línea completa */
    width: 95%; /* Ajusta el ancho del botón al 100% del ancho del contenedor padre */
    padding: 5px; /* Añade padding dentro del botón */
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-weight: bold; /* Hace que el texto sea negrita */
    margin-bottom: 5px; /* Añade espacio inferior entre los botones */
}

a.small {
    text-decoration: none;
}
/*form perdio contraceña?*/

input[type="email"]:focus {
    transform: scale(1.1); /* Agranda el input */
    border-color: #007bff;
    outline: none; /* Elimina el borde por defecto del navegador */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4); /* Agrega una sombra para destacar el input */
}

.text_1 {
    font-size: 20px;
}

.form-control-user_ {
    width: 95%; /* Hace que el campo de entrada ocupe el 100% del ancho del contenedor padre */
    height: 40px;
    padding: 10px; /* Añade espacio interno dentro del campo de entrada */
    border: 1px solid #111010; /* Define el borde del campo de entrada */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total del elemento */
    border-radius: 40px;
    margin: 10px;
}

.btn-user_ {
    width: 80%;
    height: 20px;
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: white; /* Texto blanco */
    font-size: 16px;
    cursor: pointer;
    padding: 15px 32px; /* Tamaño del botón */
    text-align: center; /* Alinear el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Ajustar tamaño */
    font-size: 18px; /* Tamaño de fuente */
    margin: 4px 2px; /* Espaciado */
    border-radius: 4px; /* Esquinas redondeadas */
}







